.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
    gap: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.invest {
    flex-grow: 2;
    flex-shrink: 2;
}

.f-button {
    padding: 20px 30px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #FFC048;
    border-radius: 20px;
    color: #FFC048;
}

.s-button {
    padding: 20px 30px;
    gap: 10px;
    border-radius: 20px;
    background: #FFC048;
    border: 1px solid #FFC048;
    color: white;
}

.img-header {
    width: 136px;
    height: 10%;
    object-fit: cover;
}

/* _________________________________MAIN_________________________________ */

.main {
    width: 75%;
    margin-left:auto;
    margin-right:auto;
}
.private_equity {
    margin-top:30px;
    margin-bottom:10px;
    font-family: 'Ogg';
    font-style: normal;
    font-weight: 400;
    font-size:3rem;
    line-height: 74px;
    letter-spacing: 0.05em;
    color: #1D2945;
}

.top-text {
    display: flex;
    width: 100%;
    gap:4vw;
}
.top-text__text {
    width: 660px;
}
.top-text__text h1 {
    margin-top:70px;
    font-family: 'Ogg';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 65px;
    letter-spacing: 0.05em;
    color: #1D2945;
}
.top-text__p {
    width: 400px;
    text-align:left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
}
.top-text__p2{
    width: 400px;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
}
.top-text__image {
    position: relative;
}
.image {
    width: 100%;
    height: auto;
    padding-top:40px;
    object-fit: cover;
    z-index: 10;
}
.strategy {
    position: absolute;
    left:-245px;
    top:190px;
    font-family: 'Ogg';
    font-style: normal;
    font-weight: 400;
    font-size: 130px;
    line-height: 98.5%;
    text-transform: lowercase;
    color: #1D2945;
    opacity: .1;
    transform: rotate(-90deg);
    z-index:-2;
}
/* _________________________________second-paragraph_________________________________ */
.second-paragraph {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto;
    margin-top:4rem;
}


.second-text {
    display: flex;
    flex-direction: column;
    position: relative;
    top:20px;
}
.second-text__flex {
    right: 100px;
    border-radius: 20px;
    width: 560px;
    height: 430px;
    padding: .6rem 30px .9rem 30px;
    box-shadow: 21px 14px 43px -7px rgba(0, 0, 0, 0.27);
    background-color: white;
    z-index: 3;
    margin-left: auto;
}
.second-paragraph img {
    position: absolute;
    width: 846px;
    height: 500px;
}

.paragraph_1{
    font-family: 'Ogg';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #1D2945;
}
.paragraph_2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #1D2945;
}
.decor-line {
    width: 100%;
    height: 1px;
    background: #94A0B1;
    text-indent: -999em;
}
.paragraph_3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #62697A;
}

/* _________________________________third-paragraph_________________________________ */
.contacts {
    border:1px solid black;
    width: 100%;
    margin-top:100px;
    padding-top:10px;
    padding-bottom:15px;
    background-color: #f4f9ff;
    border-radius: 25px;
}
.contacts-conteiner {
    width: 35%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
.contacts-paragraph {
    font-family: 'Ogg';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #1D2945;
}
.email {
    width: 50%;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    padding:10px;
    border-radius:20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1D2945;
}

.wishes {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #1D2945;
}